<h1> Rock, Paper, Scissors </h1>

<form action="/" method="POST">
	<input type="text" name="name" placeholder="Player 1 Name">
	<input type="text" name="name2" placeholder="Player 2 Name">

	<h3> Player 1 choice </h3>
	<select name="p1_choice">
		<option value="rock">Rock</option>
		<option value="scissors">Scissors</option>
		<option value="paper">Paper</option>
	</select>

	<h3> Player 2 choice </h3>
	<select name="p2_choice">
		<option value="rock">Rock</option>
		<option value="scissors">Scissors</option>
		<option value="paper">Paper</option>
	</select>


	<input type="submit">
</form>