<h1> Rock, Paper, Scissors </h1>

<form action="/" method="POST">
	<input type="text" name="name" placeholder="Player 1 Name">

	<h3> Player 1 choice </h3>
	<select name="player1_choice">
		<option value="rock">Rock</option>
		<option value="scissors">Scissors</option>
		<option value="paper">Paper</option>
	</select>

	<input type="submit">
</form>

<% if @result %>
	<%= @result %>

<% if @human_win<2 || @computer_win<2 %>
	Try Again
<% end %>

<% if @human_win==2 %>
	You win best of 3!
<% elsif @computer_win==2 %>
	Computer wins best of 3!
<% end %>

<% end %>